body {
    background-color: #f0f0f0;
    color: #333333;
}

textarea {
    background-color: #f0f0f0;
    margin-left: 8cm;
    font-size: 18px;
    color: #333333;
    border: 2px solid #000;
    
}

h1#h1 {
    margin-left: 10.5cm;
}

input {

    border: 2px solid #000;
  border-radius: 10px;
  
  
}

